extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "社員インタビュー｜ミニストップ｜大塚 美鈴";
  - var pageDescription= "社員名のインタビューはこちらです。ミニストップ株式会社の採用サイトです。コンセプトメッセージ、採用担当者からのメッセージ、ミニストップの特長、会社概要、研修制度、採用情報などをご紹介しています。";
  - var pageKeywords= "社員インタビュー,ミニストップ,大塚 美鈴";
  //- Optional
  - var pageOgpTitle= "社員インタビュー｜ミニストップ｜大塚 美鈴";
  //- - var pageOgpImage= site.ogpImage
  - var pageOgpType= "article";
  //- Not modified
  - var pageUrl= "interview/01.html";

block content
  // contents
  .intvwDetail-Wrapper
    .intvwDetail-Mv.intvwDetail-MvOotsuka
      .intvwDetail-Mv_Inner
        .intvwDetail-Mv_Ttl
          .intvwDetail-Mv_TtlWrapper
            .intvwDetail-Mv_TtlWrapperCover
              p 本部と店舗が一体になって<br class="add-Line">取り組むことが大切。
          .intvwDetail-Mv_TtlWrapper
            .intvwDetail-Mv_TtlWrapperCover
              p 店舗がもっている本来の力を<br class="add-Line">最大限発揮してほしい。
      .intvwDetail-Mv_WhoWrapper
        .intvwDetail-Mv_WhoInner
          .intvwDetail-Mv_WhoName
            h1 #{ootsuka}
          .intvwDetail-Mv_WhoPosition
            p #{ootsuka_dep}
            p #{ootsuka_team}
            p #{ootsuka_position}
          .intvwDetail-Mv_WhoYear
            p 2014年入社

  .intvwDetail-Contents
    .intvwDetail-Contents_Inner

      .intvwDetail-Contents_Caption01Wrapper
        .intvwDetail-Contents_CaptionNumTxtWrapper
          .intvwDetail-Contents_CaptionNumTxtInner
            span.caption-Txt CAPTION
            span.caption-Num 1
        .intvwDetail-Contents_TxtWrapper
          .intvwDetail-Contents_TxtInner
            .intvwDetail-Contents_Ttl
              h2 オーナーさまとの信頼関係は<br>日頃のコミュニケーションの積み重ね。
            .intvwDetail-Contents_Body
              p ストアアドバイザー(SA)の仕事は、各店舗の売り上げ・利益を伸ばしていくことです。どうすればお客さまにご満足いただけるのか、各店のオーナーさまと話し合いを重ねます。オーナーさまとの信頼関係は日頃のコミュニケーションの積み重ねなので、直接店舗に足を運ぶことで身近で信頼される存在を目指します。日頃から本部の考えがすべてとするのではなく、相手の立場に立って考えるよう心がけています。オーナーさまの考えも取り入れ最善の方法を選択していく必要があると思っています。
        .intvwDetail-Contents_ImgWrapper
          img(src='../assets/img/interview/detail/ootsuka-caption01.png', alt='コミュニケーションをしているミニストップの社員')

      .intvwDetail-Contents_Caption02Wrapper
        .intvwDetail-Contents_CaptionNumTxtWrapper
          .intvwDetail-Contents_CaptionNumTxtInner
            span.caption-Txt CAPTION
            span.caption-Num 2
        .intvwDetail-Contents_TxtWrapper
          .intvwDetail-Contents_TxtInner
            .intvwDetail-Contents_Ttl
              h2 スタッフの方の協力が欠かせない。
            .intvwDetail-Contents_Body
              p どうすることがオーナーさま、そして店舗のためになるのかを常に考えています。ストアアドバイザー(SA)の仕事は、オーナーさまが相手になる場合が多いです。でもオーナーさまだけではなく、同じ店舗で働くスタッフの方に対しても同じように考えて行動することが大切です。店舗内でもより良い人間関係を築くことで、より良い仕事ができると考えています。良い結果を出すためにも、スタッフの方の協力は欠かせないものです。
        .intvwDetail-Contents_ImgWrapper
          img(src='../assets/img/interview/detail/ootsuka-caption02.png', alt='ミニストップの社員')

      .intvwDetail-Contents_Caption03Wrapper
        .intvwDetail-Contents_CaptionNumTxtWrapper
          .intvwDetail-Contents_CaptionNumTxtInner
            span.caption-Txt CAPTION
            span.caption-Num 3
        .intvwDetail-Contents_TxtWrapper
          .intvwDetail-Contents_TxtInner
            .intvwDetail-Contents_Ttl
              h2 先輩社員はかなり近い存在。<br>困ったときには助けてくれる。
            .intvwDetail-Contents_Body
              p ミニストップは社内のコミュニケーションが取れていて、相談しやすい環境が整っています。先輩社員の方もかなり近い存在で、困ったときは助けてくれます。私がストアアドバイザー(SA)になったばかりの頃、お客さまから「お申し出」をいただいたことがありました。そんなときバディを組んでいた先輩から「お客さまが何を伝えたいのか、お客さまの立場になって見極めることが大事」とアドバイスを頂きました。このアドバイスは「お申し出」があると必ず思い出す言葉であり、現在もお客さま対応をするたびに役立っています。

  .link-Wrapper
    .link-Inner
      .link-Left
        a.animsition-link(href='./index.html')
          .link-Left_SubTtl
            p Prev
          .link-Left_Ttl
            p 社員インタビュー 一覧
          .link-Left_TtlSp
            p 戻る
      .link-Right
        a.animsition-link(href='./02.html')
          .link-Right_SubTtl
            p Next
          .link-Right_Ttl
            p #{inoue}

  .page-Top_Wrapper
    button.page-Top_WrapperBtn(type='button')
      span.label PAGE TOP
  // /contents

  <script type="text/javascript">mixpanel.track("interview/01");</script>
